body {
    max-width: 100vw;
        }
        
header {
    background-color: aqua;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    padding:16px;
        }
        
main {
    background-color: white;
    margin: 20px auto;
    color: aqua;
    margin: 0 auto;
    padding: 16px;

    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;

    border: 1px solid aqua;

    margin: 16px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 25%;

    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img { 
    width: 80px;
    height: 80px;
}
.artigo-autor{ 
    font-weight: bold;
}
        
        /* Estilo visual quando o botão estiver ativo */
        button.ativo {
            background-color: #ddd;
            border-color: #999;
        }

        button {
            cursor: pointer;
            padding: 8px 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            margin-right: 5px;
        }